*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background: var(--bg-yellow);
    color: white;
}

header p {
    text-align: justify;
}

header .conteudo-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
